* {
  color: #393E41;
  font-size: 18px; }

body {
  background: #F6F7EB; }

app > project {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: #393E41;
  transition: 0.5s; }
  app > project.project-hidden {
    left: -300px;
    width: 0; }

app > main {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  height: 100%;
  transition: 0.5s; }
  app > main.project-hidden {
    left: 0;
    width: 100%; }
  app > main > result {
    flex: 1; }

project {
  overflow: scroll; }
  project section[ref="cwd"] {
    position: relative; }
    project section[ref="cwd"] input {
      width: 100%;
      border: none;
      padding: 5px;
      padding-left: 30px;
      font-size: 12px; }
    project section[ref="cwd"] i {
      position: absolute;
      top: 5px;
      left: 5px; }
  project section[ref="init-project"] {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    project section[ref="init-project"] p {
      text-align: center;
      color: #F6F7EB; }
    project section[ref="init-project"] button {
      margin-top: 10px;
      border: none;
      border-radius: 5px;
      background: #F6F7EB;
      padding: 5px 20px;
      cursor: pointer;
      transition: 0.3s; }
      project section[ref="init-project"] button:hover {
        background: #FDFFF2; }
      project section[ref="init-project"] button:focus {
        outline: none; }
  project section[ref="project-tree"] {
    margin-top: 10px;
    margin-left: 10px; }
    project section[ref="project-tree"] > p {
      border-radius: 5px;
      display: inline;
      padding: 5px 10px;
      color: #fff;
      transition: 0.3s; }
      project section[ref="project-tree"] > p .controls {
        opacity: 0; }
        project section[ref="project-tree"] > p .controls i {
          margin-left: 5px;
          color: #fff;
          cursor: pointer;
          opacity: 0.5;
          transition: 0.3s; }
          project section[ref="project-tree"] > p .controls i:hover {
            opacity: 1;
            color: #E94F37; }
      project section[ref="project-tree"] > p:hover {
        background: #4E5559; }
        project section[ref="project-tree"] > p:hover .controls {
          opacity: 1; }

requests * {
  color: #fff; }

requests ul {
  margin-left: 20px; }

requests li {
  margin-top: 5px; }
  requests li a {
    text-decoration: none; }
  requests li p {
    border-radius: 5px;
    display: inline;
    padding: 5px 10px; }
    requests li p .controls {
      opacity: 0; }
  requests li p:hover {
    background: #4E5559; }
    requests li p:hover .controls {
      opacity: 1; }
  requests li .controls {
    margin-left: 5px;
    transition: 0.3s; }
    requests li .controls i {
      margin-left: 5px;
      cursor: pointer;
      opacity: 0.5;
      transition: 0.3s; }
      requests li .controls i:hover {
        opacity: 1;
        color: #E94F37; }

rest form > div {
  margin-top: 10px;
  padding: 0 10px; }

rest form .fixme-first-column {
  display: flex; }
  rest form .fixme-first-column .fixme-left-side {
    width: 220px; }
  rest form .fixme-first-column .fixme-right-side {
    flex: 1;
    padding-left: 10px; }
    rest form .fixme-first-column .fixme-right-side input {
      width: 100%; }

rest form .fixme-second-column {
  display: flex; }
  rest form .fixme-second-column .fixme-left-side {
    width: 350px;
    text-align: center; }
    rest form .fixme-second-column .fixme-left-side input[type="text"] {
      width: 150px; }
  rest form .fixme-second-column .fixme-right-side {
    flex: 1;
    padding-left: 10px; }
    rest form .fixme-second-column .fixme-right-side pre {
      min-height: 200px; }
      rest form .fixme-second-column .fixme-right-side pre * {
        font-size: 12px; }

rest form .fixme-third-column {
  margin: 10px 10px 0;
  text-align: center;
  border-bottom: 1px dashed #393E41;
  padding-bottom: 10px; }

rest input[type="text"],
rest textarea,
rest select {
  background: #fff;
  border: none; }
  rest input[type="text"]:focus,
  rest textarea:focus,
  rest select:focus {
    outline: none; }

rest input[type="text"],
rest textarea {
  padding: 0 10px; }

rest select {
  height: 30px; }

rest button[ref="add-header"] {
  padding: 5px 20px;
  border-radius: 5px;
  background: #44BBA4;
  color: #fff;
  transition: 0.3s;
  cursor: pointer; }
  rest button[ref="add-header"]:hover {
    background: #4CD3B8; }
  rest button[ref="add-header"] i {
    color: #fff; }

rest button[type="submit"] {
  padding: 10px 100px;
  background: #3F88C5;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer; }
  rest button[type="submit"]:hover {
    background: #4699DD; }
  rest button[type="submit"] i {
    color: #fff; }

rest button {
  background: #fff;
  border: none; }
  rest button:focus {
    outline: none; }

result {
  overflow: scroll;
  padding: 0 10px; }
